<!DOCTYPE html>
<html lang="en">
    
    <%- include("layouts/header") -%>
    <body id="page-top" class="g2body">
        <!-- Navigation-->
        <%- include("layouts/navbar") -%>
        <!-- Masthead-->
        
        <!-- Contact-->
        <section class="page-section">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0 fs-1">Sign Up page</h2><br>
                        <!-- <hr class="divider" /> -->
                        <form method="POST" action="/register">
                            <% if(signUpError != undefined && signUpError != null ) {%>
                            <div class="form-floating">
                                <p style="color: red; text-align: center;"><%=signUpError%></p>
                                
                            </div>
                            <%}%>
                            
                            <div class="form-floating">
                                <input class="form-control" id="username" name="username" type="text" placeholder="Enter your name" value="<%=(username != null) ? username : ''%>"/>
                                <label for="username">Username</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="password" name="password" type="password" placeholder="Enter your password" value="<%=(password != null) ? password : ''%>"/>
                                <label for="password">Password</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="reenterpassword" name="reenterpassword" type="password" placeholder="Re-enter your password" value="<%=(password != null) ? password : ''%>"/>
                                <label for="password">Confirm Password</label>
                            </div>
                            <br>
                            <div>
                                <label for="role">Select a role:</label>
                                <select id="role" name="role">
                                    <option value="driver">Driver</option>
                                    <option value="admin">Admin</option>
                                    <option value="examiner">Examiner</option>
                                </select>
                            </div>
                            <br />
                           
                            <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <%- include("layouts/footer")-%>
        <!-- Bootstrap core JS-->
        <%- include("layouts/scripts")-%>
    </body>
</html>
